python-telegram-bot[all]==20.8
openai>=1.0,<2
python-dotenv~=1.0
pydantic>=2.5,<3
SQLAlchemy>=2.0,<3
Pillow>=10.0,<11
whois>=0.9,<1
gtts
pytube
feedparser
beautifulsoup4
lxml
apscheduler
moviepy
colorama
requests
duckduckgo_search
spotipy
wikipedia
deep-translator
qrcode
yfinance
aria2p
langdetect
emoji
tenacity
wolframalpha
deepl
pyppeteer
geoip2
